<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<form name="feedForm" novalidate id="feedFormPropertiesStep">

	<div class="col-xs-24">
      <label class="light" tooltip="feed.properties.frequency">
				Frequency Every<mandatory-field></mandatory-field>
			</label>
		<div class="row dynamic-table-spacer">
          <div class="col-xs-10">
            <input type="text" class="form-control" validation-message="{{validations.messages.number}}"
             ng-model="feed.frequency.quantity" autofocus
             ng-required="true"
             ng-keydown="validations.acceptOnlyNumber($event)"
             ng-pattern="validations.patterns.twoDigits"/>
          </div>
          <div class="col-xs-11">
            <select
				ng-model="feed.frequency.unit"
				ng-required="true">
				<option selected value="minutes">minutes</option>
				<option value="hours">hours</option>
				<option value="days">days</option>
				<option value="months">months</option>
			 </select>
          </div>
          <div class="col-xs-3">
          </div>
        </div>
    </div>
    <div class="col-xs-24">
			<input type="checkbox" ng-model="feed.lateArrival.active" class="labelCheckBox" />
      <label class="light" tooltip="feed.properties.lateArrival">
				Late Arrival Upto<mandatory-field></mandatory-field>
			</label>
		<div class="row dynamic-table-spacer">
		  <div class="col-xs-10">
           <input type="text" class="form-control" ng-keydown="validations.acceptOnlyNumber($event)"
			ng-model="feed.lateArrival.cutOff.quantity"
			ng-disabled="!feed.lateArrival.active"
			ng-pattern="validations.patterns.twoDigits"
			ng-required="feed.lateArrival.active"/>
          </div>
          <div class="col-xs-11">
            <select
				ng-model="feed.lateArrival.cutOff.unit" ng-disabled="!feed.lateArrival.active"
				ng-required="feed.lateArrival.active">
				<option selected value="minutes">minutes</option>
				<option value="hours">hours</option>
				<option value="days">days</option>
				<option value="months">months</option>
			</select>
          </div>
		</div>
    </div>
    <div class="col-xs-24">
      <label class="light" tooltip="feed.properties.availabilityIndicator">
				Availability Indicator<mandatory-field></mandatory-field>
			</label>
		<div class="row dynamic-table-spacer">
		  <div class="col-xs-10">
           <input type="text" id="availInput" class="form-control" ng-model="feed.availabilityFlag"
				ng-pattern="validations.patterns.alpha"
				validation-message="{{validations.messages.availabilityFlag}}"
				ng-required="true">
		   </div>
        </div>
    </div>
	<div class="col-xs-24">
      <label class="light" tooltip="feed.properties.timezone">Timezone<mandatory-field></mandatory-field></label>
	  <div class="row dynamic-table-spacer">
		  <div class="col-xs-24">
           <time-zone-select ng-model="feed.timezone" required="true"></time-zone-select>
          </div>
	  </div>
	</div>
	<div class="col-xs-24"><label class="mt15">PROPERTIES</label></div>
	</div>
	<div class="col-xs-24 plr0px mt10">
		<table class="table properties">
			<thead>
			  <tr>
				<th class="no-border-bottom col-xs-4">Name</th>
				<th class="no-border-bottom col-xs-20">Value</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="property in feed.properties" class="">
				<td class="no-border-top font11px">{{feedPropertiesLabels[property.key]}}</td>
				<td class="no-border-top"><div ng-if="property.key !== 'timeout' &amp;&amp; property.key !== 'jobPriority'">
					<input type="text" class="form-control" placeholder="{{propPlaceholders[property.key]}}" ng-model="property.value" validation-optional-message="{{validations.messages.value}}" ng-pattern="validations.patterns.alpha">
				  </div>
				  <div class="col-xs-24 plr0px" ng-if="property.key === 'timeout'">
						<span class="col-xs-1 plr0px pt5px pb5px">at</span>
						<input type="text" class="col-xs-2 feedFormInputBorder" ng-keydown="validations.acceptOnlyNumber($event)" ng-model="property.value.quantity" ng-pattern="validations.patterns.twoDigits">
						<div class="col-xs-1"></div>
						<select ng-model="property.value.unit" class="col-xs-4">
						  <option value="" disabled="" selected="" style="display:none;">-Select timeout-</option>
						  <option value="minutes">minutes</option>
						  <option value="hours">hours</option>
						  <option value="days">days</option>
						  <option value="months">months</option>
						</select>
				  </div>
				  <div class="" ng-if="property.key === 'jobPriority'">
					<select ng-model="property.value" class="form-control padding0">
					  <option value="" disabled="" selected="" style="display:none;">-Select job-</option>
					  <option value="VERY_HIGH">Very high</option>
					  <option value="HIGH">High</option>
					  <option value="NORMAL">Normal</option>
					  <option value="LOW">Low</option>
					  <option value="VERY_LOW">Very Low</option>
					</select>
				  </div>
				</td>
			  </tr>
			</tbody>
		  </table>
	</div>
    <div class="col-xs-24 mt35 pb15px plr0px">
		<button id="feed.backToStep1" class="btn prevBtn" type="button" ng-click="goBack()" ng-disabled="buttonSpinners.backShow">
		  PREVIOUS <img src="css/img/ajax-loader.gif" ng-if="buttonSpinners.backShow">
		</button>
		<div class="pull-right">
			<a class="btn cnclBtn" ui-sref="main">
			  CANCEL
			</a>
			<button id="feed.step2" class="btn nextBtn" ng-click="goNext(feedForm.$invalid)" scroll-to-error>
			  NEXT <img src="css/img/ajax-loader.gif" ng-if="buttonSpinners.show">
			</button>
		</div>
	</div>
</form>
