<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<form name="feedForm" novalidate id="feedFormClusterStep">
  <div class="feedFormClusters">
    <div class="col-xs-24 pt5px">
      <label class="light">Partitions (comma separated)</label>
      <input type="text" class="form-control" validation-optional-message="{{validations.messages.partitions}}"
        ng-pattern="validations.patterns.commaSeparated"
        ng-blur="createFeedClusterPartitions()"
        ng-model="feedPartitions" />
    </div>

    <div class="col-xs-24">
      <label>Source Cluster<mandatory-field></mandatory-field></label>
    </div>

    <div class="col-xs-24">
      <select ng-model="sourceClusterName"
            ng-change="clearSourceClusterFlags()"
            class="form-control padding0 clusterSelect">
          <option value="" disabled selected style='display:none;'>-Select source cluster-</option>
          <option id="cluster_" ng-repeat="clusterItem in clusterList">{{clusterItem.name}}</option>
      </select>

      <button type="button" class="btn btn-default btn-xs clusterAddBtn" ng-click="addSourceCluster()">
        Add
      </button>
    </div>
    <div class="col-xs-24">
      <label class="custom-danger" ng-show="sourceClusterNotSelected">
        You need to select the source cluster
      </label>
      <label class="custom-danger" ng-show="sourceClusterExists">
        Source cluster is already added
      </label>
    </div>

    <div class="col-xs-24 sourceClusterList" ng-show="(feed.clusters | filter:{type:'source'}).length > 0">
      <label class="clusterListLabel mb7">Source Clusters</label>
      <accordion close-others="false">
        <accordion-group ng-repeat="cluster in feed.clusters | filter:{type:'source'}" is-open="cluster.isAccordionOpened">
          <accordion-heading>{{ cluster.name }}</accordion-heading>
          <feed-form-cluster-details></feed-form-cluster-details>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="col-xs-24" ng-show="(feed.clusters | filter:{type:'source'}).length < 1">
    <label class="custom-danger">
      You need to provide at least one source cluster
    </label>
  </div>

  <div class="col-xs-24">
    <label>Target Cluster</label>
  </div>
  <div class="col-xs-24">
    <select ng-model="targetClusterName"
          ng-change="clearTargetClusterFlags()"
          class="form-control padding0 clusterSelect">
        <option value="" disabled selected style='display:none;'>-Select target cluster-</option>
        <option id="cluster_" ng-repeat="clusterItem in clusterList">{{clusterItem.name}}</option>
    </select>

    <button type="button" class="btn btn-default btn-xs clusterAddBtn" ng-click="addTargetCluster()">
      Add
    </button>
  </div>

  <div class="col-xs-24">
    <label class="custom-danger" ng-show="targetClusterNotSelected">
      You need to select the target cluster
    </label>
    <label class="custom-danger" ng-show="targetClusterExists">
      Target cluster is already added
    </label>
  </div>

  <div class="col-xs-24 targetClusterList" ng-show="(feed.clusters | filter:{type:'target'}).length > 0">
    <label class="clusterListLabel mb7">Target Clusters</label>
    <accordion close-others="false">
      <accordion-group ng-repeat="cluster in feed.clusters | filter:{type:'target'}" is-open="cluster.isAccordionOpened">
        <accordion-heading>{{ cluster.name }}</accordion-heading>
        <feed-form-cluster-details></feed-form-cluster-details>
      </accordion-group>
    </accordion>
  </div>

  <div class="col-xs-24 mt35 pb15px">
    <button id="feed.backToStep3"
        class="btn prevBtn"
        type="button"
        ng-click="goBack()"
        ng-disabled="buttonSpinners.backShow" >
      PREVIOUS <img src="css/img/ajax-loader.gif" ng-if="buttonSpinners.backShow" />
    </button>
    <div class="pull-right">
        <a class="btn cnclBtn" ui-sref="main">
          CANCEL
        </a>
         <button id="feed.step4" class="btn nextBtn"
            ng-click="goNext(feedForm.$invalid)" scroll-to-error>
            NEXT <img src="css/img/ajax-loader.gif" ng-if="buttonSpinners.show" />
        </button>
     </div>
  </div>
</form>
