<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="container" id="entityDetails">

  <div class="row">
    <div class="col-sm-24">
      <button class="btn " ui-sref="main">< Back to Search</button>
    </div>
  </div>

	<h3 class="link-icons entity-title entity-link-null" id="entity-title">
		{{entity.name}} <button type="button" class="detailsBT">
		<span ng-class="displayIcon((entity.type | uppercase), entity.model)"></span> {{entityTypeLabel}}
	</button>
	</h3>

	<div class="row">
		<div class="col-sm-24">
			<div class="detailsBox">
				<h4>
					Dependencies
				</h4>
        <div class="dependencies-graph"><dependencies-graph name="entity.name" type="entity.type"/></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-16">
			<div class="detailsBox">
				<h4>
					Instances
				</h4>
				<instances-list input="instancesList" type="entity.type" name="entity.name" instance-details="instanceDetails"
												pages="pages" go-page="goPage" next-pages="nextPages" prev-pages="prevPages" change-pages-set="changePagesSet"
												start="entity.start" end="entity.end"/>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="summaryBox" ng-init="propsOpen = false">
				<div class="row">
					<div class="col-sm-21">
						<h4>
							Properties
						</h4>
					</div>
					<div class="col-sm-3">
						<h4 class="pointer glyphicon" ng-click="propsOpen = !propsOpen" ng-class="propsOpen ? 'glyphicon-chevron-up':'glyphicon-chevron-down'"></h4>
					</div>
				</div>
        <div ng-show="propsOpen" class="animate-show">
					<div ng-if="entity.type == 'feed'" ui-view="feedSummary"></div>
					<div ng-if="entity.type == 'process'" ui-view="processSummary"></div>
				</div>
			</div>
		</div>
	</div>

</div>