<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div ng-show="!hasClusters" class="no-entity">
  <span>
    No Cluster Entity Defined. Please contact your Administrator or perform the steps described in
    <a target="_blank" href='https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.4.2/bk_data_governance/content/using_gui_to_define_data_pipelines.html'>
    Falcon Documentation</a> to create a Cluster.
  </span>
</div>
<div class="col-sm-24">
  <div class="row searchResultContainer" ng-show="searchList.length > 0">
    <div class="col-sm-offset-2 col-sm-20 dashboardBox">
        <entities-search-list input="searchList" entity-details="entityDetails" clone="cloneEntity" tags="tags"
                              remove="deleteEntity" edit="editEntity" schedule="scheduleEntity" suspend="suspendEntity"
                              resume="resumeEntity" focus-search="focusSearch" pages="pages" go-page="goPage"/>
    </div>
  </div>

</div>

<!--<div class="col-xs-24" ng-hide="searchList.length > 0">-->
  <!--<div class="row" ng-controller="chartCtrl">-->
    <!--<div class="col-xs-20 chartCol">-->
      <!--<div class="chartMenuBox">-->
        <!--<div class="entityBox">-->
          <!--<h5> Entity </h5>-->
          <!--<div class="entityTypeButtons">-->
            <!--<button class="btn"-->
                    <!--ng-click="chartOptions.entity = 'feed'; requestNewData()"-->
                    <!--ng-class="{active: chartOptions.entity === 'feed'}">-->
              <!--Feeds-->
            <!--</button>-->
            <!--<button class="btn"-->
                    <!--ng-click="chartOptions.entity = 'process'; requestNewData()"-->
                    <!--ng-class="{active: chartOptions.entity === 'process'}">-->
              <!--Processes-->
            <!--</button>-->
            <!--<button class="btn"-->
                    <!--ng-click="chartOptions.entity = 'dataset'; requestNewData()"-->
                    <!--ng-class="{active: chartOptions.entity === 'dataset'}">-->
              <!--Dataset-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="timeBox">-->
          <!--<h5>Time</h5>-->
          <!--<label>-->
            <!--<input type="radio" ng-model="chartOptions.mode" value="hourly" ng-change="requestNewData()">-->
            <!--24 Hs-->
          <!--</label>-->
          <!--<label>-->
            <!--<input type="radio" ng-model="chartOptions.mode" value="daily" ng-change="requestNewData()">-->
            <!--14 Days-->
          <!--</label>-->
        <!--</div>-->
        <!--<div class="dayBox">-->
          <!--<h5>Day</h5>-->
          <!--<input type="text"-->
                 <!--ng-change="requestNewData()"-->
                 <!--class="form-control dateInput"-->
                 <!--placeholder="mm/dd/yyyy"-->
                 <!--datepicker-popup="{{dateFormat}}"-->
                 <!--ng-model="chartOptions.day"-->
                 <!--is-open="opened"-->
                 <!--ng-click="openDatePicker($event)"-->
                 <!--ng-required="true"-->
                 <!--simple-date />-->
          <!--<span class="entypo calendar dateInputIcon"-->
                <!--ng-click="openDatePicker($event)">-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<chart class="chart"-->
             <!--input="graphData"-->
             <!--t="30"-->
             <!--mode="chartOptions.mode"-->
             <!--ng-class="{daily: chartOptions.mode === 'daily'}"-->
             <!--details="details">-->
      <!--</chart>-->

    <!--</div>-->
    <!--<div class="col-xs-4 chartSideBar" ng-show="chartSidebarModel">-->

      <!--<h3> {{ chartSidebarDate.firstLeg }} </h3>-->
      <!--<h4> {{ chartSidebarDate.secondLeg }}-->
        <!--<span ng-if="chartOptions.mode === 'hourly'"> {{ chartSidebarDate.timeLeg }} </span>-->
      <!--</h4>-->

      <!--<hr />-->

      <!--<h5 class="text-success"> Succeed </h5>-->
      <!--<table class="table">-->
        <!--<tr ng-repeat="item in chartSidebarModel.topSuccessfulEntities | orderBy:'-numberOfSuccessfulEntities'">-->
          <!--<td> {{item.name}} </td>-->
          <!--<td><span> {{item.numberOfSuccessfulEntities}} </span></td>-->
        <!--</tr>-->
      <!--</table>-->

      <!--<hr />-->

      <!--<h5 class="text-danger"> Failed </h5>-->
      <!--<table class="table">-->
        <!--<tr ng-repeat="item in chartSidebarModel.topFailedEntities | orderBy:'-numberOfFailedEntities'">-->
          <!--<td> {{item.name}} </td>-->
          <!--<td><span> {{item.numberOfFailedEntities}} </span></td>-->
        <!--</tr>-->
      <!--</table>-->

      <!--<hr />-->

      <!--<h5> Data Copied </h5>-->
      <!--<table class="table">-->
        <!--<tr ng-repeat="item in chartSidebarModel.topDataCopiedEntities | orderBy:'-dataCopied'">-->
          <!--<td> {{item.name}} </td>-->
          <!--<td><span> {{item.dataCopied}} </span></td>-->
        <!--</tr>-->
      <!--</table>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->

