/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
//----------------mozilla outline hack-------------------//
.datasourceConnectionBox {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 15px 10px 41px;
  color: @gray-light;
  margin-top: 25px;

  h3 {
    font-size: 14px;
    display: inline-block;
    top: -7px;
    position: absolute;
    border-radius: 2px;
    padding: 5px 9px;
    background-color: #fff;
  }

  span {
    padding-left: 10px;
  }
}

#datasourceFormGeneralStep {
  input[type="radio"], input[type="checkbox"] {
    margin-left: 20px;
  }
}

.datasourceForm {
  .btn-browse {
    padding: 0px 12px;
    background: #f5f5f5;
    color: #777;
  }
}
.btn-sharp {
  border-radius: 0;
}

.datasource-link {
  margin: 0px !important;
  color: @green-light !important;
  font-style: italic;
  line-height: 26px !important;
}
.driver-jar-link {
    margin: 0px !important;
    color: @green-light !important;
    font-style: italic;
    line-height: 26px !important;
}

.btn-datasource {
  font-size: 12px;
  line-height: 25px;
  width: 100px;
  padding: 0px;
  border-radius: 4px;
}

.interface-endpoint {
  margin: 0 10px;
}

.ml0 {
  margin-left: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}
//---------------SUMMARY------------------//
