/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.dashboardBox {
  padding: 0;
  h3 {
    margin: 0 0 5px 0;
  }
}

.listTable {
  margin-top: 5px;
  border-collapse: separate;
  border-radius: 4px;
  //border: 1px solid @gray;
  width: 100%;
  min-height: 140px;
  overflow: hidden;
  position: relative;
  .spinner {
    .transition (all, 1s, linear);
    display: none;
    width:0;
    height:0;
    img {
      margin: 60px auto 10px;
      display: none;
      //background-color: #323032;
      color: #323032;
    }
    &.active {
      display: block;
      position: absolute;
      z-index: 2;
      .background-opacity(black, 0.8);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        display: block;
        //.trayAnimation;
      }
    }

  }
  h5 {
    text-align: left;
    font-weight: bold;
    small {
      margin-top: -5px;
      display: block;
      font-weight: bold;
    }
  }
  thead {
    padding: 5px;
    text-align: left;
    background-color: @gray-dark;
    color: white;
    tr > th { border-bottom: none; }
  }
  tbody {
    padding: 5px;
    display: table-row-group;
    background-color: white;
  }
  tr {
    width: 100%;
  }
  .filtersBox {
    font-weight: normal;
    font-size: 10px;
    width: 35%;
    float:left;
    margin: 3px 1%;
    &.clusterFilters {
      width: 48%;
    }
  }
  .filtersSelectBox {
    float:left;
    font-weight: normal;
    font-size: 10px;
    width: 24%;
    margin: 3px 1%;
    select {
      padding:0;
      font-size: 10px;
    }
  }


  .entityRow {
    &:hover, &.rowSelected {
      background: #F2F2F2;
      td {
        border-color: #E2E2E2;
      }
    }

    td {
      padding: 3px 3px;
      line-height: 22px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      vertical-align: middle;
    }
    &.firstEntityRow {
      td { padding-top: 6px; }
    }
    &.lastEntityRow {
      td {
        padding-bottom: 6px;
      }
    }
  }
  label {
    font-weight: normal;
    font-size: 10px;
  }
  .checkboxCell {
    width: 20px;
    text-align: center;
  }
  .stateCell {
    width: 120px;
  }
  .dateCell {}
  input[type="radio"] {
    margin: -1px 0 0 -18px;
    font-size: 10px;
  }

  .nameCell {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.buttons-to-show {
  margin:2px 0;
}
/* LOGIN */
.login {
  margin-top: 20px;
  h3{
    padding: 0 20px;
  }
  .detailsBox{
    padding: 30px 15px;
    float: none;
    margin: 0 auto;
  }
  .error{
    color: red;
  }
  .hint{
    color: gray;
  }
}

/* New Dashboard */

.filtersResultBox {
  font-weight: normal;
//  font-size: 14px;
  width: 35%;
  float:left;
  margin: 3px 1%;
  &.clusterFilters {
    width: 48%;
  }
}

.tag:hover {
  cursor: pointer;
  color: #fff;
  background-color: #5fa33e;
  font-weight: bold;
}




.waitingLayer {
  position: absolute;
  background-color: red;
  width: 100%;
  height:100%;
  opacity:0;
  z-index: -1;
  .active {
    opacity:1;
    z-index: 2;
  }
}