/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//---------navHeader----------------------//

.navbar {
  z-index: 2;
  background-color: @headerNavBG;
  margin: 0;
  color: white;
  padding: 5px 0;
  border-width: 0;
  border-radius: 0;
  position: relative;
  &:hover{
    cursor: default;
  }
}
.logoTitle {
  background: transparent;
  border: none;
  float: left;
  h1 span{
    vertical-align: middle;
    display: inline-block;
  }
  .falconLogo{
    background: url(img/falcon.png) no-repeat center center;
    background-size: 100%;
    width: 30px;
    height: 44px;
  }
}
.navbar-header {
  margin: 5px 15px 5px 5px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
  > img {
    height: 40px;
  }
}

.createNavWrapper, .uploadNavWrapper {
  float: left;
  margin: 0 10px;
  > h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
  }
  > button {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
  }
  span {
    vertical-align: middle;
    margin-right: 6px;
    &.entypo, &.glyphicon{
      vertical-align: sub;
      &.up{
        font-size: 2.2em;
      }
    }
  }
  .disabled {
    //color: lighten(@headerNavBG, 30%);
    //border-color: lighten(@headerNavBG, 10%);
    cursor: default;
    .background-opacity(black, 0.2);
  }
}
.uploadNavWrapper {
  > div {
    min-width:183px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    &.fakeFocus {
      .box-shadow(0 0 2px white);
    }
  }
}
.loginHeaderBox {
  margin: 0;
  display: inline-block;
  //width: 100%;
  text-align: right;
  margin-top: 10px;

  .pull-right;
  >*{
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    >*{
      display: inline-block;
      vertical-align: middle;
    }
  }
  span.entypo{
    vertical-align: sub;
  }
  span.user{
    background: url(img/user.svg) no-repeat center center;
    background-size: 35px 35px;
    height: 35px;
    width: 35px;
  }
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  a {
    color: white;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

/* NOTIFICATIONS */

.notifications .messages {
  display:none;
  position: absolute;
  top:50px;
  right:0px;
  width:280px;
  max-width:280px;
  max-height:300px;
  overflow: auto;
}

.messagesArrow {
  content:'.';
  display:none;
  position:absolute;
  margin-left:-10px;
  top:30px;
  right:130px;
  width:0;
  height:0;
  color:transparent;
  border:10px solid black;
  border-color:transparent transparent white;
}

.notifications .messages:before {
  content:'.';
  display:block;
  position:absolute;
  margin-left:-10px;
  left:50%;
  top:-18px;
  width:0;
  height:0;
  color:transparent;
  border:10px solid black;
  border-color:transparent transparent white;
}

.badge-notify{
  background:red;
  position:relative;
  top: -15px;
  right: -35px;
}

.notifications .messages .message {
  display:block;
  position:relative;
  padding:10px;
  background-color:white;
  text-decoration:none;
  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.notifications .messages .message + .message {
  border-top:1px solid #e0e0e0;
}

.icon-notif{
  margin-right: 10px;
}

.no-margin-right{
 margin-right: 0;
}

.bell-notif{
  margin-right: 10px;
}

.header-icon{
  font-size: 18px;
}

.logoutBT{
  margin-right: -20px;
}

.no-outline{
  outline: 0;
}

.unreaded-notif {
  background-color: #EDEDED !important;
}