<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<nav class="col-sm-24 navbar navbar-default" role="navigation">
  <div class="navbar">

      <h1 class="navbar-header" ui-sref="main">
        <img src="css/img/falcon.png" /> Falcon
      </h1>

      <div class="createNavWrapper">
        <h4>Create an entity</h4>
        <div ng-click="resetCluster()">
          <span class="entypo archive"></span> Cluster
        </div>
        <div ng-click="resetFeed()">
          <span class="entypo download"></span> Feed
        </div>
        <div id="createProcessButton" ng-click="resetProcess()">
          <span class="entypo cycle"></span> Process
        </div>
      </div>

      <div class="uploadNavWrapper">
        <h4>Upload an entity</h4>
        <div class="btn-file">
          <span class="entypo up"></span>
          <input type="file" id="files" name="files[]" multiple fileinput-change="handleFile" ng-model="fileJson">
          Browse for the XML file
        </div>
      </div>
      
  </div>
</nav>
