<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="host" tabindex="-1" ti-transclude-append="">
<div class="tags" ng-class="{focused: hasFocus}">
<ul class="tag-list">
<li class="tag-item" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }">
  <strong ng-bind="getDisplayLabel($index, tag)"></strong>
  <span ng-bind="getDisplayText(tag)" ng-class="tag.striked"></span>
<a class="remove-button" ng-click="tagList.remove($index)" ng-bind="options.removeTagSymbol"></a>
</li></ul>
  <input autofocus id="tagsInput" class="input" ng-model="newTag.text" ng-change="newTagChange()"
         ng-trim="false" ng-class="{'invalid-tag': newTag.invalid}"
         ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex}" ti-autosize="">
</div></div>