<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="col-xs-22 col-xs-offset-1 entityForm" id="processFormTmpl">
  <div class="col-xs-24">
    <div class="row">

      <h3 id="formTitle" class="col-xs-24">
        <span class="entypo cycle icon-lg"></span> New Process
      </h3>

      <div ng-class="{'col-xs-12' : propsOpen, 'col-xs-20' : !propsOpen}">
        <div class="detailsBox">
          <div class="processProgressBox" ng-class="{
            general:isActive('forms.process.general'),
            properties:isActive('forms.process.properties'),
            clusters:isActive('forms.process.clusters'),
            inputsAndOutputs: isActive('forms.process.io'),
            summary:isActive('forms.process.summary')
            }">
            <div class="progressBar col-xs-24">
              <div>
                <span>
                  <div class="fir">1<span class="entypo check"></span></div>
                  <h6>General</h6>
                </span>
                <span>
                  <div class="sec">2<span class="entypo check"></span></div>
                  <h6>Properties</h6>
                </span>
                <span>
                  <div class="thi">3<span class="entypo check"></span></div>
                  <h6>Clusters</h6>
                </span>
                <span>
                  <div class="fou">4<span class="entypo check"></span></div>
                  <h6>Inputs & Outputs</h6>
                </span>
                <span>
                  <div class="fif">5<span class="entypo check"></span></div>
                  <h6>Summary</h6>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-offset-1 col-xs-22">
              <fieldset id="fieldWrapper" ng-disabled="!editXmlDisabled">
                <div ui-view class="formViewContainer"></div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div ng-class="{'col-xs-12' : propsOpen, 'col-xs-4' : !propsOpen}">
        <div class="detailsBox">
          <div class="row">

            <div class="col-xs-13 col-xs-offset-1 noSpecial">
              <h5><i class="pointer glyphicon" ng-click="propsOpen = !propsOpen" ng-class="propsOpen ? 'glyphicon-minus-sign':'glyphicon-plus-sign'"></i> XML Preview</h5>
            </div>

            <div ng-if="propsOpen" class="col-xs-9">
              <button type="button"
                      id="editXmlButton"
                      class="btn btn-default btn-xs pull-right"
                      ng-click="toggleEditXml()"
                      ng-class="{'btn-warning':!editXmlDisabled}">
                <div ng-if="editXmlDisabled">Edit XML</div>
                <div ng-if="!editXmlDisabled">Finish</div>
              </button>
            </div>

            <div ng-show="propsOpen" class="col-xs-24">
              <div class="row">
                <div class="col-xs-22 col-xs-offset-1" >
                  <textarea ng-model="prettyXml" class="form-control prettyXml" elastic ng-disabled="editXmlDisabled"></textarea>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
